<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="by.nca.it_academy">

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".presentation.screen.usermvp.ActivityCW12"
            android:parentActivityName=".main.ActivityMain">
        </activity>

        <!--<activity-->
            <!--android:name=".work.cw11.ActivityCW11"-->
            <!--android:parentActivityName=".main.ActivityMain"></activity>-->
        <!--<activity-->
            <!--android:name=".work.cw10.ActivityCW10"-->
            <!--android:parentActivityName=".main.ActivityMain"></activity>-->
        <activity
            android:name=".work.cw9.ActivityCW9"
            android:parentActivityName=".main.ActivityMain"></activity>
        <activity
            android:name=".work.hw8.ActivityHW8"
            android:parentActivityName=".main.ActivityMain"></activity>
        <activity
            android:name=".work.hw7.ActivityHW7"
            android:parentActivityName=".main.ActivityMain"></activity>
        <activity
            android:name=".work.cw7.ActivityCW7"
            android:parentActivityName=".main.ActivityMain"></activity>
        <activity android:name=".work.hw6.ActivityHW6"
            android:parentActivityName=".main.ActivityMain"></activity>
        <activity
            android:name=".work.cw6.ActivityCW6"
            android:parentActivityName=".main.ActivityMain"></activity>
        <activity
            android:name=".work.cw1.ActivityCW1"
            android:parentActivityName=".main.ActivityMain"></activity>
        <activity
            android:name=".work.hw1.ActivityHW1"
            android:parentActivityName=".main.ActivityMain"></activity>
        <activity
            android:name=".work.cw2.ActivityCW2"
            android:parentActivityName=".main.ActivityMain"></activity>
        <activity
            android:name=".work.hw2.ActivityHW2"
            android:parentActivityName=".main.ActivityMain"></activity>
        <activity
            android:name=".work.cw3.ActivityCW3"
            android:parentActivityName=".main.ActivityMain"></activity>
        <activity
            android:name=".work.hw3.ActivityHW3"
            android:parentActivityName=".main.ActivityMain"></activity>
        <activity android:name=".work.cw4.ActivityCW4"
            android:parentActivityName=".main.ActivityMain"></activity>
        <activity android:name=".work.cw5.ActivityCW5"
            android:parentActivityName=".main.ActivityMain"></activity>
        <activity
            android:name=".work.hw4.ActivityHW4"
            android:theme="@style/AnimationActivity">
            android:parentActivityName=".main.ActivityMain">
        </activity>
        <activity android:name=".work.hw5.ActivityHW5"
            android:parentActivityName=".main.ActivityMain"></activity>
        <activity
            android:name=".main.ActivityMain"
            android:theme="@style/AnimationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".work.cw5.MyReceiver">
            <intent-filter>
                <action android:name="android.intent.action.AIRPLANE_MODE"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>
        <!--<service android:name=".cw5.MyService"></service>-->
        <!--<service android:name=".cw5.MyIntentClass"></service>-->
        <service android:name=".work.hw5.MyService"></service>
    </application>
</manifest>
